.header-top {
  margin: 15px 0;
}
.header-top #input-search {
  width: 80%;
}
.header-top .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header-top .flex-container .flex-item {
  flex: auto;
}
.header-top .flex-container .flex-item .text {
  padding-left: 5px;
}
.header-top ul {
  list-style: none outside none;
}
.header-bottom {
  margin: 15px 0;
}
.header-bottom .menu {
  list-style: none outside none;
}
.header-bottom .menu li {
  display: inline-block;
}
.header-bottom .menu li a {
  padding: 10px;
}

footer {
  margin-top: 30px;
}
footer .footer-top .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer .footer-top .flex-container .item {
  width: 20%;
}
footer .footer-top .flex-container .item:last-child {
  width: 80%;
}
footer .footer-middle {
  margin-top: 15px;
}
footer .footer-middle .footer-detail ul {
  list-style: none outside none;
  padding-left: 0;
}
footer .footer-bottom {
  margin-top: 15px;
}
footer .footer-bottom .list-payment {
  list-style: none outside none;
}
footer .footer-bottom .list-payment li {
  display: inline-block;
}

main {
  min-height: 400px;
}
